name: {{ ansible_host }}
scope: {{ patroni_scope }}
 
consul:
  host: 127.0.0.1:8500
 
restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_default_ipv4.address }}:8008
  authentication:
    username: patroni
    password: {{patroni_rest_password}}
 
bootstrap:
  dcs:
    ttl: &ttl 30
    loop_wait: &loop_wait 10
    maximum_lag_on_failover: 1048576 # 1 megabyte in bytes
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        archive_mode: "on"
        wal_level: hot_standby
        archive_command: cd /data/pgsql && /bin/mkdir -p ../wal_archive && /bin/cp %p ../wal_archive/%f
        max_wal_senders: 10
        shared_preload_libraries: 'pg_stat_statements'
        pg_stat_statements.track: all
        wal_keep_segments: 1024
        archive_timeout: 1800s
        max_replication_slots: 5
        hot_standby: "on"
        wal_log_hints: "on"
        lc_messages: "en_US.UTF-8"
        lc_monetary: "en_US.UTF-8"
        lc_numeric: "en_US.UTF-8"
        lc_time: "en_US.UTF-8"
        default_text_search_config: "pg_catalog.english"
      recovery_conf:
        archive_cleanup_command: "/usr/pgsql-9.5/bin/pg_archivecleanup -d /data/wal_archive %r >> /data/pgsql/pg_log/cleanup.log 2>&1"
 
initdb:
  - encoding: UTF8
 
pg_hba:  # Add following lines to pg_hba.conf after running 'initdb'
  - host all all 0.0.0.0/0 md5
 
postgresql:
  listen: {{ ansible_default_ipv4.address }}:7432
  connect_address: {{ ansible_default_ipv4.address }}:7432
  data_dir: /data/pgsql
  config_dir: /data/pgsql
  bin_dir: /usr/pgsql-9.5/bin
  pg_rewind:
    username: postgres
    password: Qwerty123
  pg_hba:
  - local   all             postgres                              trust
  - local   all             all                                   md5
  - host    all             postgres        10.168.204.251/32         trust
  - host    replication     postgres        10.168.204.252/32         trust
  - host    replication     postgres        10.168.204.251/32      trust
  - host    all             postgres        127.0.0.1/24          trust
  - host    replication     replicator      0.0.0.0/0             md5
  - host    all             all             0.0.0.0/0             md5
  replication:
    username: replicator
    password: Qwerty123
    network:  {{ ansible_default_ipv4.address }}/24
  postgres:
    username: postgres
    password: {{ postgres_password }}
  restore: /usr/local/bin/patroni_wale_restore
